<head>
    <title>{{ title }}</title>
</head>
<body>
  <h1><center>Irvin's RainbowTable Cracking WebApp</center></h1>
  <p>A Few Notes:
    <li>LM Hashes must be up to 7 Hexadecimal characters (AAD3B435B51404EE is normal for a password of 1-7.) Any password larger than 7 characters must be broken up in halves. LM hashes are also case insensitive.</li>
    <li>Do not refresh the page once you hit the "Lookup" button; the tables are being searched and your result will appear below.</li>
    <li>The top box only searches for LM, NTLM and MD5 passwords. The bottom will search for SHA1/MySQL passwords.</li>
    <li>This is to be used for contest and educational purposes only; not responsible for law enforcement's actions against illegal use of this resource.</li>
    </p>
    <hr>
    <h2>{{ title }}</h2>
    <form action="" method="post" novalidate>
        {{ form.csrf_token }}
        <p>
            {{ form.hash.label }}<br>
            {{ form.hash(size=32) }}
        </p>
        <p>
            {{ form.sha.label }}<br>
            {{ form.sha(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
